<div
  class="flex w-full gap-3 justify-between items-center px-4 mt-[68px] mb-3 overflow-x-auto"
>
  <ul class="items-center flex text-sm font-medium gap-4">
    <li
      #checkbox
      [ngClass]="{ checked: ischecked }"
      class="checkbox flex items-center bg-white border gap-4 rounded-full py-2 px-5 border-gray-200"
    >
      <label
        for="vue-checkbox-list1"
        class="checkbox text-sm text-gray-500 font-medium text-nowrap"
        >Đang soạn thảo</label
      >
      <input
        id="vue-checkbox-list1"
        type="checkbox"
        value="soan_thao"
        class="w-4 h-4 accent-green-600 checkboxInput checkbox"
        (change)="filterGetStatus($event)"
        (change)="filterGetStatus($event); onCheckboxChange()"
      />
    </li>
    <li
      class="checkbox flex py-2 px-5 items-center gap-5 bg-white border rounded-full border-gray-200"
    >
      <label
        for="vue-checkbox-list2"
        class="checkbox text-sm text-gray-500 font-medium text-nowrap"
        >Gửi Duyệt</label
      >
      <input
        id="vue-checkbox-list2"
        type="checkbox"
        value="gui_duyet"
        (change)="filterGetStatus($event)"
        class="checkbox w-4 h-4 accent-green-600"
      />
    </li>
    <li
      class="checkbox flex py-2 px-5 items-center gap-5 bg-white border rounded-full border-gray-200"
    >
      <label
        for="vue-checkbox-list3"
        class="checkbox text-sm text-gray-500 font-medium text-nowrap"
        >Đã duyệt</label
      >
      <input
        id="vue-checkbox-list3"
        type="checkbox"
        value="duyet_ap_dung"
        (change)="filterGetStatus($event)"
        class="checkbox w-4 h-4 accent-green-600"
      />
    </li>
    <li
      class="checkbox flex py-2 px-5 items-center gap-5 bg-white border rounded-full border-gray-200"
    >
      <label
        for="vue-checkbox-list4"
        class="checkbox text-sm text-gray-500 font-medium text-nowrap"
        >Ngưng áp dụng</label
      >
      <input
        id="vue-checkbox-list4"
        type="checkbox"
        value="ngung_apdung"
        (change)="filterGetStatus($event)"
        class="checkbox w-4 h-4 accent-green-600"
      />
    </li>
    <li
      class="checkbox flex py-2 px-5 items-center gap-5 bg-white border rounded-full border-gray-200"
    >
      <label
        for="vue-checkbox-list5"
        class="checkbox text-sm text-gray-500 font-medium text-nowrap"
        >Trả về</label
      >
      <input
        id="vue-checkbox-list5"
        type="checkbox"
        value="tra_Ve"
        (change)="filterGetStatus($event)"
        class="checkbox w-4 h-4 accent-green-600"
      />
    </li>
  </ul>
  <div class="flex items-center gap-4">
    <div
      class="items-center bg-white rounded-sm cursor-pointer hover:opacity-70 shadow-lg"
    >
      <button class="h-full text-[#959db3]">
        <svg
          class=""
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          class="w-[33px] h-[33px]"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 5v9m-5 0H5a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-4a1 1 0 0 0-1-1h-2M8 9l4-5 4 5m1 8h.01"
          />
        </svg>
      </button>
    </div>
    <div
      class="items-center py-1 bg-white rounded-sm px-3 cursor-pointer hover:opacity-70 shadow-lg"
    >
      <button class="h-full flex items-center text-[#959db3]">
        <svg
          class="w-[35px] h-[32px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 15v2a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3v-2m-8 1V4m0 12-4-4m4 4 4-4"
          />
        </svg>

        Template
      </button>
    </div>
    <div
      class="bg-green-700 hover:bg-green-600 font-semibold shadow-md shadow-green-300 py-2 px-4 text-stone-200 rounded-sm"
    >
      <button class="text-nowrap">+ THÊM MỚI</button>
    </div>
  </div>
</div>
