.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3px;
  position: fixed;
  flex-shrink: 0; /* Ngăn chặn navbar mở rộng ra ngoài giới hạn chiều ngang của màn hình */
  width: 100vw;
  z-index: 1000;
  /* background-color: white; */
}

.navbar-item {
  flex: 1;
  max-width: calc(100vw - 223px);
}

.nav-button {
  font-size: 1.2em;
  padding: 10px 15px;
}
