.checkbox {
  cursor: pointer;
}

.checked {
  outline: 1px solid #16a34a;
}
* {
  box-sizing: border-box;
}
body {
  background-color: red;
}

input[type="checkbox"]:checked li {
  outline: 1px solid #16a34a;
}
Trong file CSS .selected {
  border: 2px solid blue; /* Hoặc bất kỳ style nào bạn muốn áp dụng */
}
