<div class="flex w-full bg-slate-200" style="overflow-x: hidden">
  <app-sidebar
    class="bg-slate-600"
    [selectedNavbarItem]="selectedNavbarItem"
  ></app-sidebar>
  <div class="bg-slate-200 overflow-x-auto">
    <app-navbar
      class=""
      (openSidebar)="onNavbarItemClicked($event)"
    ></app-navbar>

    <app-header-checkbox
      (filterStatus)="onChecked($event)"
    ></app-header-checkbox>
    <app-filter
      (filterReset)="onResetFilter()"
      (searchValueChanged)="onSearch($event)"
    ></app-filter>

    <app-quenstionbank
      [searchText]="searchText"
      [checkedValues]="checkedValues"
    ></app-quenstionbank>
  </div>
</div>

<div *if="popup2Shown">{{ popup2Shown }}</div>
