<div class="flex w-full bg-gray-200">
  <app-sidebar [selectedNavbarItem]="selectedNavbarItem"></app-sidebar>
  <div class="">
    <app-navbar
      class=""
      (openSidebar)="onNavbarItemClicked($event)"
    ></app-navbar>
    <app-header-checkbox
      (filterStatus)="onChecked($event)"
    ></app-header-checkbox>
    <app-filter
      (filterReset)="onResetFilter()"
      (searchValueChanged)="onSearch($event)"
    ></app-filter>

    <app-quenstionbank
      [searchText]="searchText"
      [checkedValues]="checkedValues"
    ></app-quenstionbank>
  </div>
</div>
