* {
  box-sizing: border-box;
}
body {
  background-color: red;
}

::ng-deep .disabled {
  pointer-events: none; /* Vô hiệu hóa sự kiện chuột */
  opacity: 0.5; /* Hiển thị mờ để biểu thị vô hiệu hóa */
}
