<div class="flex-col h-screen w-[223px]">
  <div class="bg-white">
    <a href=""
      ><img
        src="https://www.hachihachi.com.vn/Uploads/systems/HachiLogo.png"
        alt=""
    /></a>
  </div>
  <div *ngIf="selectedNavbarItem">
    <!-- Chèn các phần tử hoặc logic để hiển thị khi selectedNavbarItem có giá trị -->
  </div>
  <div class="">
    <ul class="block w-full">
      <ng-container *ngFor="let sidebarItem of selectedNavbarItem?.sideBar">
        <li>
          <div
            class="flex items-center justify-between font-medium px-3 bg-slate-700 cursor-pointer w-full relative"
            (click)="toggleDropdown(sidebarItem)"
          >
            <div
              class="bg-[#5cb800] absolute w-[4px] top-0 bottom-0 left-0"
            ></div>
            <span class="text-[#5cb800] items-center flex py-4 gap-3">
              <svg
                class="w-6 h-6 text-green-600"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M15 4h3a1 1 0 0 1 1 1v15a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V5a1 1 0 0 1 1-1h3m0 3h6m-3 5h3m-6 0h.01M12 16h3m-6 0h.01M10 3v4h4V3h-4Z"
                />
              </svg>

              {{ sidebarItem.name }}
            </span>

            <svg
              *ngIf="!isDropdownOpen(sidebarItem)"
              class="w-6 h-6 text-green-600"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m19 9-7 7-7-7"
              />
            </svg>
            <svg
              *ngIf="isDropdownOpen(sidebarItem)"
              class="w-6 h-6 text-green-600"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m5 15 7-7 7 7"
              />
            </svg>
          </div>
          <div *ngIf="isDropdownOpen(sidebarItem)">
            <button *ngFor="let child of sidebarItem.child" class="w-full flex">
              <div
                class="text-white items-center justify-center flex py-4 bg-slate-700 relative w-full"
              >
                <div
                  class="bg-white absolute w-[4px] top-0 left-0 bottom-0"
                ></div>
                <span>{{ child.childName }}</span>
              </div>
            </button>
          </div>
        </li>
      </ng-container>
    </ul>
  </div>
</div>
