@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #1a6634;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #199b46;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
