.inputSearch {
  font-family: Arial, "FontAwesome";
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  padding-left: 40px;
  /* color: #9ca3b7; */
}
.textShdow {
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  color: black;
}
