<!-- [data]="gridView" -->
<div class="questionBank">
  <kendo-grid
    [data]="combineFilters()"
    [pageSize]="pageSize"
    [skip]="skip"
    [pageable]="true"
    (pageChange)="pageChange($event)"
    kendoGridSelectBy="id"
    [(selectedKeys)]="mySelection"
    [kendoGridSelectBy]="mySelectionKey"
    [style.height.vh]="74"
    class="myCustomGrid"
    [selectable]="selectable"
    scrollable="scrollable"
    (selectionChange)="togglePopupCheck($event)"
  >
    <kendo-grid-column-group [columnMenu]="false">
      <kendo-grid-checkbox-column
        field="selected"
        [width]="30"
        [showSelectAll]="true"
      >
        <ng-template let-rowIndex="rowIndex">
          <input
            [kendoGridSelectionCheckbox]="rowIndex"
            type="checkbox"
            #anchor2
          />
        </ng-template>
      </kendo-grid-checkbox-column>

      <kendo-grid-column
        [style]="{ 'text-align': 'left' }"
        [headerStyle]="{ 'text-align': 'left' }"
        field="title"
        title="Câu hỏi"
        [width]="780"
        [scrollTop]="50"
        class="title-column"
      >
        <ng-template kendoGridCellTemplate let-dataItem>
          <div>
            <h3>{{ dataItem.title }}</h3>
          </div>
          <div *ngIf="dataItem.code && dataItem.typeQuestion">
            <div class="flex gap-5">
              <span class="code">{{ dataItem.code }}</span>
              <span class="border-l-2"></span>
              <span class="type">{{ dataItem.typeQuestion }}</span>
            </div>
          </div>
          <div *ngIf="dataItem.code && !dataItem.typeQuestion">
            <div class="flex gap-5">
              <span class="code">{{ dataItem.code }}</span>
            </div>
          </div>
          <div *ngIf="!dataItem.code && dataItem.typeQuestion">
            <div class="flex gap-5">
              <span class="type">{{ dataItem.typeQuestion }}</span>
            </div>
          </div>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column
        [style]="{
          'text-align': 'left',
          
        }"
        [headerStyle]="{ 'text-align': 'left' }"
        field="group"
        title="Phân nhóm"
        [width]="280"
      >
      </kendo-grid-column>
      <kendo-grid-column
        [headerStyle]="{ 'text-align': 'center', 'justify-content': 'center' }"
        [style]="{ 'text-align': 'center', 'font-weight': 'bold' }"
        field="time"
        title="Thời gian làm "
        [width]="160"
      >
        <ng-template kendoGridCellTemplate let-dataItem>
          <span>{{ dataItem.time }}s</span>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column
        [headerStyle]="{ 'text-align': 'center', 'justify-content': 'center' }"
        [style]="{ 'text-align': 'center', 'font-weight': '500' }"
        field="status"
        title="Tình trạng"
        [width]="240"
      >
        <ng-template kendoGridCellTemplate let-dataItem>
          <span [style.color]="getStatusColor(dataItem.status)">
            {{ getStatusText(dataItem.status) }}</span
          >
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column
        [width]="50"
        class="kendo-openPopup"
        [style]="{
          'display':'flex',
          'border-left': '1px solid #e5e7eb ',
          'text-align ': 'center',
          'justify-content': 'center',
          
        }"
      >
        <ng-template kendoGridCellTemplate let-dataItem>
          <!-- <button #anchor (click)="checkStatus(dataItem.status)">...</button> -->
          <div
            class="open-popup1 w-[40px] h-[58px] items-center flex justify-center"
          >
            <button
              class="text-black hover:bg-gray-400 hover:text-white px-3 py-1"
              kendoButton
              #anchor
              (click)="toggleAndCheck(dataItem, anchor)"
            >
              ...
            </button>
          </div>
        </ng-template>
      </kendo-grid-column>
    </kendo-grid-column-group>
    <ng-template
      kendoPagerTemplate
      let-totalPages="totalPages"
      let-currentPage="currentPage"
    >
      Hiển thị mỗi trang
      <kendo-pager-page-sizes [pageSizes]="size"></kendo-pager-page-sizes>

      <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
      <kendo-pager-numeric-buttons
        [buttonCount]="4"
      ></kendo-pager-numeric-buttons>
      <kendo-pager-next-buttons></kendo-pager-next-buttons>

      <ng-template kendoGridNoRecordsTemplate=""> Không có sản phẩm</ng-template
      ><kendo-grid-messages [pagerItemsPerPage]="''"></kendo-grid-messages>
    </ng-template>
  </kendo-grid>

  <kendo-dialog
    class="myDialog"
    title="Xóa câu hỏi"
    *ngIf="dialogDelete"
    (close)="close('cancel')"
    [minWidth]="250"
    [width]="450"
  >
    <div class="content flex flex-col justify-center items-center py-5">
      <p>Bạn chắc chắn muốn xóa phân nhóm</p>
      <p class="contentChild">
        {{ splitCamelCase(selectedQuestioDialog.title) }}
      </p>
    </div>
    <div class="flex justify-center items-center py-5">
      <p>
        Đơn vị xóa sẽ <span style="color: #fd7676">KHÔNG</span> thể khôi phục
        lại
      </p>
    </div>
    <kendo-dialog-actions class="buttonDialog">
      <button class="khongxoa" kendoButton (click)="close('no')">
        KHÔNG XÓA
      </button>
      <button kendoButton (click)="close('yes')" themeColor="primary">
        XÓA
      </button>
    </kendo-dialog-actions>
  </kendo-dialog>
  <kendo-popup
    [anchor]="anchor"
    (anchorViewportLeave)="show = false"
    [anchorAlign]="anchorAlign"
    [popupAlign]="popupAlign"
    *ngIf="show"
    [animate]="false"
    class="my-popup"
  >
    <div class="text-white font-normal w-[150px]">
      <button
        *ngFor="let func of currentFunctions"
        class="w-full h-[50px] text-white"
        (click)="handleButton(selectedQuestion, func.name)"
      >
        <div class="gap-3">
          <i class="{{ func.icon }}  "></i>
          <span>{{ func.name }}</span>
        </div>
      </button>
    </div>
  </kendo-popup>

  <kendo-popup
    [anchor]="anchor2"
    (anchorViewportLeave)="showSecondPopup = false"
    [anchorAlign]="anchorAlign"
    [popupAlign]="popupAlign"
    *ngIf="showSecondPopup"
    [animate]="false"
    class="anchor2"
  >
    <div class="box boxCount">
      <span class="countNumber">{{ count }}</span> <br />
      Đã chọn
    </div>
    <div *ngIf="currentFunctions.length > 0" class="function-list">
      <button
        *ngFor="let func of currentFunctions"
        (click)="handleFunctionPopup2(func)"
      >
        <div class="box boxFunc function-item">
          <i class="{{ func.icon }}  text-gray-400 "></i>

          <span>{{ func.name }}</span>
        </div>
      </button>
    </div>
    <button (click)="closePopup2()">
      <div class="box boxClose">X</div>
    </button>
  </kendo-popup>
</div>
