::ng-deep .myCustomGrid .k-grid .k-grid-header .k-table-th:first-child {
  border: none;
}

::ng-deep .myCustomGrid .k-table-thead {
  background: transparent;
}
::ng-deep .myCustomGrid .k-grid-table-wrap {
  /* overflow-y: auto; */
  min-height: 300px;
}

::ng-deep .myCustomGrid.k-grid {
  background-color: rgb(229, 231, 235);
}

::ng-deep .myCustomGrid .k-grid-header {
  border: none;
  background: transparent;
}
::ng-deep .myCustomGrid .k-grid-header-wrap {
  background-color: transparent;
}
::ng-deep .myCustomGrid .k-grid-content .k-grid-table {
  width: 100%;
  height: auto;
  border-spacing: 0 10px;
}

::ng-deep .k-grid td h3 {
  font-weight: 600;
  font-size: 17px;
}

::ng-deep .myCustomGrid .k-grid .k-table-row.k-selected > .k-table-td {
  background-color: rgb(90, 143, 109) !important;
}

::ng-deep .k-grid .k-selected td {
  background-color: white;
}

::ng-deep .myCustomGrid .k-grid-cell-inner .k-link {
  display: none;
}
::ng-deep .my-popup {
  background-color: rgb(156, 163, 175);
}

::ng-deep .kendo-openPopup button {
  position: relative;
}

::ng-deep .my-popup .k-popup {
  background: transparent;
}
/* ::ng-deep .my-popup {
  left: 1008px;
  top: 336px;
  z-index: 2;
} */

::ng-deep .k-grid .kendo-openPopup {
  display: flex;
  color: white;
  z-index: 3;
}
::ng-deep .myCustomGrid.k-grid .k-grid-pager .k-pager-first .k-icon,
::ng-deep .myCustomGrid.k-grid .k-grid-pager .k-pager-last .k-icon {
  display: none;
}

::ng-deep .myCustomGrid.k-grid .k-grid-pager {
  display: flex;
  gap: 5px;
}

::ng-deep .myCustomGrid.k-grid .k-grid-pager .k-pager-sizes {
  flex-grow: 1;
}

::ng-deep .myDialog .k-window {
  background-color: white;
  box-shadow: 0 0px 2px 0px #cbcbcb;
  /* border-radius: 5px; */
  border: none;
}

::ng-deep .myDialog .k-window-titlebar {
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  text-align: center;
  border-bottom: 1px solid rgb(229, 231, 235);
  padding: 20px 0;
  /* border-top-left-radius: 5px;
  border-top-right-radius: 5px; */
}

::ng-deep .myDialog .k-window-titlebar span {
  font-size: 25px;
  font-weight: 500;
}

::ng-deep .myDialog .buttonDialog {
  display: flex;
  border-top: 1px solid rgb(229, 231, 235);
  padding: 0;
  margin: 0;
  /* padding: 20px 10px; */
  background-color: rgb(253, 118, 118);
  /* border-bottom-left-radius: 5px; */
  /* border-bottom-right-radius: 5px; */
}

::ng-deep .myDialog .buttonDialog .khongxoa {
  background-color: white;
  color: rgb(156, 163, 183) !important;
}

::ng-deep .myDialog .buttonDialog .ng-star-inserted {
  /* color: rgb(156, 163, 183); */
  color: white;
  width: 50%;
  padding: 20px 0;
  /* border-radius: 5px; */
}

::ng-deep .myDialog {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  outline: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10001;
}

::ng-deep .myDialog .k-window .k-window-titlebar .k-dialog-title {
  display: block;
}

::ng-deep .myDialog .k-window .k-window-titlebar .k-dialog-titlebar-actions {
  display: none;
}

::ng-deep .myDialog .content .contentChild {
  color: #36c8cf;
  font-weight: 600;
  font-size: 13px;
  width: 60%;
  text-align: center;
}
/*  */

::ng-deep .anchor2 .k-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
}

::ng-deep .anchor2 .k-popup .box {
  width: 120px;
  height: 80px;
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

::ng-deep .anchor2 .k-popup .boxCount {
  background-color: #15803d;
  text-align: center;
}

::ng-deep .anchor2 .k-popup .function-list {
  display: flex;
  flex-direction: row;
  text-align: center;
}

::ng-deep .anchor2 .k-popup .function-item {
  color: black;
}

::ng-deep .anchor2 .k-popup .boxClose {
  color: black;
}
