<div class="mt-10">
  <kendo-grid
    [data]="getSearchTextQuestionBank()"
    [pageSize]="pageSize"
    [skip]="skip"
    [pageable]="true"
    (pageChange)="pageChange($event)"
    kendoGridSelectBy="id"
    [(selectedKeys)]="mySelection"
    class="my-app"
    [height]="550"
  >
    <kendo-grid-column-group [columnMenu]="false">
      <kendo-grid-checkbox-column
        field="selected"
        [width]="30"
        [headerClass]="{ 'text-center': true }"
        [class]="{ 'text-center': true }"
        [resizable]="false"
        [columnMenu]="false"
        [showSelectAll]="true"
      ></kendo-grid-checkbox-column>

      <kendo-grid-column
        [style]="{ 'text-align': 'left', }"
        [headerStyle]="{ 'text-align': 'left' }"
        field="title"
        title="Câu hỏi"
        [width]="780"
        class="py-[20px] font-bold my-[2px] shadow-sm"
      >
      </kendo-grid-column>

      <kendo-grid-column
        [style]="{
          'text-align': 'left',
          'margin-top': '5px',
          'margin-bottom': '15px',
        }"
        [headerStyle]="{ 'text-align': 'left' }"
        field="group"
        title="Phân nhóm"
        [width]="280"
        class="py-[20px] my-[2px] shadow-sm"
      >
      </kendo-grid-column>
      <kendo-grid-column
        [headerStyle]="{ 'text-align': 'center' }"
        [style]="{ 'text-align': 'center' }"
        field="time"
        title="Thời gian làm "
        [width]="160"
        class="py-[20px] my-[2px] shadow-sm"
      >
      </kendo-grid-column>
      <kendo-grid-column
        [headerStyle]="{ 'text-align': 'center' }"
        [style]="{ 'text-align': 'center' }"
        field="status"
        title="Tình trạng"
        [width]="240"
        class="py-[20px] my-[2px] shadow-sm"
      >
      </kendo-grid-column>
      <kendo-grid-column>
        <ng-template kendoGridCellTemplate>
          <button class="grow items-center">...</button>
        </ng-template>
      </kendo-grid-column>
    </kendo-grid-column-group>
  </kendo-grid>
</div>
