::ng-deep .myCustomGrid .k-grid .k-grid-header .k-table-th:first-child {
  border: none;
}

::ng-deep .myCustomGrid .k-table-thead {
  background: transparent;
}
::ng-deep .myCustomGrid .k-grid-table-wrap {
  /* overflow-y: auto; */
  min-height: 300px;
}

::ng-deep .myCustomGrid.k-grid {
  background-color: rgb(229, 231, 235);
}

::ng-deep .myCustomGrid .k-grid-header {
  border: none;
  background: transparent;
}
::ng-deep .myCustomGrid .k-grid-header-wrap {
  background-color: transparent;
}
::ng-deep .myCustomGrid .k-grid-content .k-grid-table {
  /* width: 100vw; */
  height: auto;
  border-spacing: 0 7px;
}

::ng-deep .k-grid td h3 {
  font-weight: 600;
  font-size: 17px;
}

::ng-deep .myCustomGrid .k-grid .k-table-row.k-selected > .k-table-td {
  background-color: rgb(90, 143, 109) !important;
}

::ng-deep .k-grid .k-selected td {
  background-color: white;
}

::ng-deep .myCustomGrid .k-grid-cell-inner .k-link {
  display: none;
}
::ng-deep .my-popup {
  background-color: rgb(156, 163, 175);
}

::ng-deep .kendo-openPopup button {
  position: relative;
}

::ng-deep .my-popup .k-popup {
  background: transparent;
}
/* ::ng-deep .my-popup {
  left: 1008px;
  top: 336px;
  z-index: 2;
} */

::ng-deep .k-grid .kendo-openPopup {
  display: flex;
  color: white;
  z-index: 3;
}
::ng-deep .myCustomGrid.k-grid .k-grid-pager .k-pager-first .k-icon,
::ng-deep .myCustomGrid.k-grid .k-grid-pager .k-pager-last .k-icon {
  display: none;
}

::ng-deep .myCustomGrid.k-grid .k-grid-pager {
  display: flex;
  gap: 5px;
  border: none;
}

::ng-deep .myCustomGrid.k-grid .k-grid-pager .k-pager-sizes {
  flex-grow: 1;
}

::ng-deep .myDialog .k-window {
  background-color: white;
  box-shadow: 0 0px 2px 0px #cbcbcb;
  /* border-radius: 5px; */
  border: none;
}

::ng-deep .myDialog .k-window-titlebar {
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  text-align: center;
  border-bottom: 1px solid rgb(229, 231, 235);
  padding: 20px 0;
  /* border-top-left-radius: 5px;
  border-top-right-radius: 5px; */
}

::ng-deep .myDialog .k-window-titlebar span {
  font-size: 25px;
  font-weight: 500;
}

::ng-deep .myDialog .buttonDialog {
  display: flex;
  border-top: 1px solid rgb(229, 231, 235);
  padding: 0;
  margin: 0;
  /* padding: 20px 10px; */
  background-color: rgb(253, 118, 118);
  /* border-bottom-left-radius: 5px; */
  /* border-bottom-right-radius: 5px; */
}

::ng-deep .myDialog .buttonDialog .khongxoa {
  background-color: white;
  color: rgb(156, 163, 183) !important;
}

::ng-deep .myDialog .buttonDialog .ng-star-inserted {
  /* color: rgb(156, 163, 183); */
  color: white;
  width: 50%;
  padding: 20px 0;
  /* border-radius: 5px; */
}

::ng-deep .myDialog {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  outline: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10001;
}

::ng-deep .myDialog .k-window .k-window-titlebar .k-dialog-title {
  display: block;
}

::ng-deep .myDialog .k-window .k-window-titlebar .k-dialog-titlebar-actions {
  display: none;
}

::ng-deep .myDialog .content .contentChild {
  color: #36c8cf;
  font-weight: 600;
  font-size: 13px;
  width: 60%;
  text-align: center;
}
/*  */

::ng-deep .anchor2 .k-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  border-radius: 5px;
}

::ng-deep .anchor2 .k-popup .box {
  width: 120px;
  height: 80px;
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

::ng-deep .anchor2 .k-popup .boxCount {
  background-color: #15803d;
  text-align: center;
  display: block;
  justify-content: center;
  border-radius: 5px 0 0 5px;
}

::ng-deep.anchor2 .k-popup .boxCount .countNumber {
  text-align: center;
  font-size: 35px;
  font-weight: 500;
}

::ng-deep .anchor2 .k-popup .function-list {
  display: flex;
  flex-direction: row;
  text-align: center;
}
::ng-deep .anchor2 .k-popup .boxFunc {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

::ng-deep .anchor2 .k-popup .function-item {
  text-align: center;
  color: black;
  justify-content: center;
}

::ng-deep .function-list i {
  font-size: 1rem;
}

::ng-deep .function-list span {
  font-size: 0.8rem;
}

::ng-deep .anchor2 .k-popup .boxClose {
  color: #cccccd;
  border-left: 1px solid #e5e7eb;
  width: 48px;
  height: 20%;
  font-size: 20px;
  font-weight: 300;
}

::ng-deep.k-checkbox:checked .myCustomGrid .k-grid .k-grid-table .k-table-row {
  /* color: white; */
  background: #15803d;
}

::ng-deep .myCustomGrid.k-grid .k-grid-pager .k-list-item .k-focus .k-selected {
  background-color: #15803d;
}
/* ::ng-deep .myCustomGrid .k-selected {
  background-color: #5a8f6d !important;
  color: black;
} */
::ng-deep .myCustomGrid .k-selected td {
  background-color: #5a8f6d !important;
  color: black;
}
::ng-deep .myCustomGrid .k-selected .kendo-openPopup .open-popup1 {
  color: #cbcbcb;
}

::ng-deep .myCustomGrid .k-checkbox:indeterminate {
  background-image: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"%3e%3cpath fill="none" stroke="%2315803d" stroke-linecap="square" stroke-linejoin="square" stroke-width="2" d="M4,8 h8"/%3e%3c/svg%3e');
}

::ng-deep .myCustomGrid .k-checkbox:checked {
  background-color: #15803d !important;
  border: none;
  border-color: none !important;
}
::ng-deep .myCustomGrid .k-checkbox:checked:focus {
  box-shadow: none;
}

::ng-deep .k-notification-group {
  margin-left: 100px;
  margin-bottom: 30px;
}

::ng-deep .myCustomGrid {
  border: none;
  /* width: 100vw; */
  overflow-x: hidden;
  background-color: rgb(226, 232, 240);
  overflow-y: auto;
}
::ng-deep .myCustomGrid .k-header {
  border: none;
  font-weight: 500;
  background-color: rgb(226, 232, 240);
}

::ng-deep .questionBank {
  /* width: screen; */
  /* max-width: 100%; */
  overflow-x: hidden;
  padding: 20px;
  box-sizing: border-box;
}

::ng-deep .k-grid-pager {
  /* position: fixed;
  bottom: 0;
  display: flex;
  width: 85%;
  left: 223px;
  right: 0;
  z-index: 1000; */
}

::ng-deep .k-pager .k-pager-numbers-wrap .k-dropdown-list {
  display: none;
}

::ng-deep .my-popup .k-popup button div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

::ng-deep .myCustomGrid .k-table-row td {
  border: none;
}

::ng-deep .k-grid .k-table-row.k-table-alt-row,
::ng-deep .k-grid .k-table-row {
  background-color: white;
}

::ng-deep .k-grid-content {
  background-color: rgb(226, 232, 240);
}

/* ::ng-deep .k-grid .k-table-row.k-table-alt-row :hover,
::ng-deep .k-grid .k-table-row :hover {
  background-color: #5a8f6d;
} */
::ng-deep .k-pager {
  background-color: rgb(226, 232, 240);
}

::ng-deep .k-grid .k-grid-container {
  /* padding-bottom: 17px; */
}

::ng-deep .k-list-item.k-selected:hover {
  background-color: #15803d !important;
}
::ng-deep .k-list-item.k-selected {
  background-color: #15803d;
}
