::ng-deep .k-grid {
  padding: 0 50px;
}
::ng-deep .k-grid table {
  width: 100%;
  height: auto;
  border-spacing: 0 4px;
  margin: 2px 0;
}
::ng-deep .k-grid .k-grid-header tr {
  padding: 0 !important;
  background-color: rgb(229, 231, 235) !important;
}

::ng-deep .k-grid .k-grid-content .k-grid td.title-column {
  max-width: 200px; /* Độ rộng tối đa của cột */
  white-space: nowrap; /* Ngăn nội dung xuống dòng */
  overflow: hidden; /* Ẩn phần nội dung vượt quá */
  text-overflow: ellipsis; /* Hiển thị dấu ba chấm khi vượt quá */
}

.k-grid th.k-header {
  max-width: 300px; /* Đặt chiều rộng tối đa */
  white-space: nowrap; /* Ngăn tiêu đề trên nhiều dòng */
  overflow: hidden; /* Ẩn phần vượt quá */
  text-overflow: ellipsis; /* Thêm dấu ba chấm ở cuối khi vượt quá */
}
::ng-deep .k-grid .k-grid-content .k-grid td.title-column {
  max-width: 200px; /* Đặt chiều rộng tối đa của cột */
  white-space: nowrap; /* Ngăn tràn dòng */
  overflow: hidden; /* Ẩn nội dung vượt quá */
  text-overflow: ellipsis; /* Hiển thị dấu ... khi vượt quá */
}
::ng-deep .k-grid tr {
}

::ng-deep .k-grid td {
  padding: 10px 0;
}

::ng-deep .k-grid td h3 {
  font-weight: 600;
  font-size: 17px;
}

::ng-deep .k-grid .k-selected td {
  background: rgb(90, 143, 109);
}

::ng-deep .myCustomGrid.k-grid tr {
  height: 26px;
  position: relative;
  background: white;
  width: 100vh;
}

::ng-deep kendo-popup {
  position: relative;
  left: -73px;
  top: -24px;
}
::ng-deep .my-popup {
  position: fixed;
  z-index: 2;
}

::ng-deep .k-grid .kendo-openPopup {
  display: flex;
  color: white;
  z-index: 3;
}
::ng-deep .myCustomGrid.k-grid .k-grid-pager .k-pager-first .k-icon,
::ng-deep .myCustomGrid.k-grid .k-grid-pager .k-pager-last .k-icon {
  display: none;
}

::ng-deep .myCustomGrid.k-grid .k-grid-pager {
  display: flex;
  gap: 5px;
}

::ng-deep .myCustomGrid.k-grid .k-grid-pager .k-pager-sizes {
  flex-grow: 1;
}

::ng-deep .myCustomGrid.k-grid .k-grid-pager .k-pager-first:before {
  content: "đầu";
}

::ng-deep .myCustomGrid.k-grid .k-grid-pager .k-pager-last:after {
  content: "cuối";
}
